.Artist {
  &__content {
    display: grid;
    grid-template-columns: 275px 1fr;
    column-gap: 5rem;
  }
  &__albums {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 2rem;

    align-self: flex-start;
  }
  &__albumName {
    padding: 1rem;
  }
  &__song {
    display: flex;
    align-items: center;
    padding: 1rem;

    cursor: pointer;
  }
  &__songGenres {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 0.65rem;
    > * {
      margin-right: 0.333rem;
      margin-bottom: 0.333rem;
    }
  }
  &__image {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  }
  &__album {
    cursor: pointer;
  }
}