.Player {
  position: fixed;
  bottom: 0;
  z-index: 1000;

  width: 100%;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 2rem;

  box-shadow: 0px -10px 12px 0px rgba(0, 0, 0, 0.25);
  background: #0000b3;

  &__audioElement {
    display: block;
    width: 100%;
  }

  &__audioContainer {
    padding: 0 1rem;
  }
}